/* sidebar */
.sidenav {
  height: 100%;
  /* height: calc(100% - 600px); */
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(245, 245, 245);
  overflow-x: hidden;
  padding-top: 20px;
  right: 0px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 305px; /* Same as the width of the sidenav (plus some) */ 
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Generously donated by Matthew Elwin (read: blatantly stolen. Thank you, Matt!) */
/* TODO: side nav for projects */
nav#TOC{
  width: 10%;
  height: 45%;
  position:fixed!important;
  z-index:1;
  overflow:auto;
  padding-right: 0em;
  font-size: 7pt;
  background-color: transparent;
}

a {
  color: #0645ad;
  text-decoration: none;
}

/* a:hover {
  color: #06e;
}

nav a:hover {
  color: #0645ad;
  background: #C3C3DE
} */

.content{
  margin-left: 10%;
  padding-left: 4em;
  /* min-height: calc(100vh - 1000px); */
  /* margin-top: 20%; */
}

.inner{
  margin: 0 auto;
  min-width: 30em;
  max-width: 50em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

li > ul, li > ol {
    margin: 0 0;
}

nav ul, nav ol {
    list-style: none;
    padding: 0 0 0 0;
}

/* make the top level list item in table of contents not indent*/
nav li > ul, nav li > ol {
    list-style: none;
    padding: 0 0 0 2em;
}